<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
    {% if path and button_text%}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary"><a href="{{ path }}">{{ button_text }}</a></button>
        </div>
    </div>
    {% endif %}
</div>