* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 15px;
    background-color: #C82829;
    text-align: center;
    text-transform: uppercase;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 80em
}

nav {
    display: flex;
    flex-basis: row;
    background-color: #333;
    text-transform: uppercase;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    color: #C82829;

}

.row {
    padding: 20px;
}

.row div {
    padding: 10px
}

/* BEGIN DATA STYLES */
table {
    border-bottom: 1px solid #ddd;
    width:100%;
    table-layout: fixed;
    overflow-wrap: break-word;
}

th {
    background-color: #333;
    color: white;
}

table a {
    text-decoration: none;
    position: relative;
}
/* END DATA STYLES */
