@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200&family=Oswald:wght@200..700&family=Roboto&display=swap');

header {
    padding: 5px;
    margin-bottom: 15px;
    background-color: Tan;
    text-align: center;
    text-transform: uppercase;
}

/* Components */
.btn {
    color: #f8f9fa;
}
.btn a {
    color: #f8f9fa;
}

thead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
/* End Components */

nav {
    text-transform: uppercase;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.full-screen {
    min-height: calc(100vh - 100px);
}

.brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

nav .brand {
    color: WhiteSmoke
}

nav a:hover {
    color: Tan;
}


/* FORMS */
.btn {
    background-color: tan; /* Color de fondo: gris oscuro */
    border-color: tan; /* Color del borde: gris oscuro */
}

.btn:hover {
    text-decoration: none;
    background-color: #555555; /* Color de fondo al pasar el ratón: gris más oscuro */
    border-color: #555555; /* Color del borde al pasar el ratón: gris más oscuro */
}
/* END FORMS */

/* BEGIN DATA STYLES */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #343a40;
    color: #ffffff;
}

th {
    padding: 8px;
}

tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

td {
    padding: 8px;
}
/* END DATA STYLES */

.flash-error {
    background-color: #7cbaff;
    color: white;
    padding: 3px 0px;
    margin: 6px 0px;
}

/* MISC*/
#presupuesto_user {
    display: none;
}
#presupuesto_user ~ .form-group.row {
    display: none;
}