{% extends 'base/base.html.twig' %}

{% block body %}
<h1>Bienvenido al proyecto del curso Symfony 5 Experto</h1>
<p>Pide un presupuesto <a href="{{ path('app_presupuesto_new') }}">aquí</a></p>
<p>Gestiona los proyectos <a href="{{ path('app_proyecto_index') }}">aquí</a></p>
{% endblock %}