<div class="card mt-5">
    <div class="card-body">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="text-center">
                <p>Estás a punto de crear un nuevo presupuesto.</p>
                <p>El procedimiento estándar incluye la validación de los datos y avanzar paso a paso hasta la creación del proyecto.</p>
                <p>En cada paso del proceso, serás informado por correo electrónico.</p>
            </div>
        {% endif %}

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary btn-block">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>
</div>
