{% extends 'base/base.html.twig' %}

{% block body %}
    {% include 'base/common-elements/details_title.html.twig' with {
        'title': 'Editar presupuesto',
        'path': '',
        'button_text': ''
    } %}

    {{ include('presupuesto/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="d-flex flex-row align-items-center mt-3">
        <a href="{{ path('app_presupuesto_index') }}" class="btn btn-secondary mr-2">Volver al listado</a>
        {{ include('presupuesto/_delete_form.html.twig') }}
    </div>
{% endblock %}
