{% extends 'base/base.html.twig' %}

{% block body %}
    {% include 'base/common-elements/details_title.html.twig' with {
        'title': 'Solicitar un presupuesto',
        'path': '',
        'button_text': ''
    } %}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <button class="btn btn-sm btn-outline-secondary">
            <a href="{{ path('app_presupuesto_index') }}">Volver al listado</a>
        </button>
    {% endif %}

    {{ include('presupuesto/_form.html.twig') }}


{% endblock %}
