{% extends 'presupuesto/base_presupuesto.html.twig' %}

{% block body %}
    {% include 'base/common-elements/details_title.html.twig' with {
        'title': 'Solicitar un presupuesto',
        'path': '',
        'button_text': ''
    } %}

    {{ include('presupuesto/_form.html.twig') }}

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="d-flex flex-row align-items-center mt-3">
            <a href="{{ path('app_presupuesto_index') }}" class="btn btn-secondary mr-2">Volver al listado</a>
        </div>
    {% endif %}

{% endblock %}
